# Class 2 : String in Python
In this class, we will be deep dive into the concepts of String and explore its Functions.

In [2]:
message : str = "This is Class 2 in Python"
print(message)

This is Class 2 in Python

# String

The Sequence or collection or set of character enclosed with quotation or double quotation or triple single or double quotation mark

```python

'this is String'
"this is also an string"
"""this is 
multi line 
String"""

```

In [4]:
# To find type of any data we have type function

name : str = "Muhammad Bilal"
print(name) # Muhammad Bilal
print(type(name)) # <class 'str'>

Muhammad Bilal
<class 'str'>

## Single Quotation V/S Double Quotation in String
Where to use single or double quotation 

1. If we want to use sigle quote in our string, we wrap string in double quotes.
2. If we want to use double quotes in our String, we wrap string with single quotes.

In [8]:
# Where to use single or double quotation 

# Single Quotation Example
message : str = "PIAIC Student Card \nFather's name"
print(message)

# Double Quotation Example
message2 : str = 'some one says to me \n"Practice Practice and Practice makes man Perfect"' 
print(message2)

PIAIC Student Card
Father's name
some one says to me
"Practice Practice and Practice makes man Perfect"

In [10]:
# convert any special character into simple character, place \ before character

message : str = "PIAIC Student Card \nFather's name"
print(message)

PIAIC Student Card
Father's name

## String Concatenation 

String Concatenation is a method that is used to merge two or more than two string with the single string.

In [11]:
"a" + "b"+ "c"

'abc'

In [13]:
# if we try to concatenate string with number,

"a"+1 # TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

## Concatenate a Large String

In [15]:
name : str = "Muhammad Bilal"
f_name : str = "Muhammad Naeem"
age: int = 21
education : str = "Graduate"
message : str = "PIAIC Studenet Card \nName: "+ name + "\nFater's Name: "+ f_name +"\nage: "+ age + "\neducation: " + education

TypeError: can only concatenate str (not "int") to str

In [17]:
# convert any data type to string we have a method of str()
"a"+ str(4)

'a4'

In [19]:
name : str = "Muhammad Bilal"
f_name : str = "Muhammad Naeem"
age: int = 21
education : str = "Graduate"
message : str = "PIAIC Studenet Card \nName: "+ name + "\nFater's Name: "+ f_name +"\nage: "+ str(age) + "\neducation: " + education 
print(message)

PIAIC Studenet Card
Name: Muhammad Bilal
Fater's Name: Muhammad Naeem
age: 21
education: Graduate

In [20]:
# we can also execute some equation in Print
print(2 + 3 + 5 )

10

##

## "/" Line Continue

In [21]:
print(2+\
      3+\
        5)

10

In [22]:
name : str = "Muhammad Bilal"
f_name : str = "Muhammad Naeem"
age: int = 21
education : str = "Graduate"
message : str = "PIAIC Studenet Card \nName: " + name +\
      "\nFater's Name: "+ f_name +\
        "\nage: "+ str(age) +\
        "\neducation: " + education 
print(message)

PIAIC Studenet Card
Name: Muhammad Bilal
Fater's Name: Muhammad Naeem
age: 21
education: Graduate

## Defining Multiline String """ """ , ''' '''

Multiline String is used to print multiple line in String 
or we can say that it used for print formatting.

In [24]:
name : str = "Muhammad Bilal"
f_name : str = "Muhammad Naeem"
age: int = 21
education : str = "Graduate"

message : str = """PIAIC Studenet Card 
Name: ... 
Fater's Name: ...
age: ...
education: ...""" 
print(message)

PIAIC Studenet Card
Name: ...
Fater's Name: ...
age: ...
education: ...

## F-String Python 

F-String is introduce in python 3.9.

it is used to format string and concatenation with string.

In [1]:
name : str = "Muhammad Bilal"
f_name : str = "Muhammad Naeem"
age: int = 21
education : str = "Graduate"

message : str = f"""PIAIC Studenet Card 
Name: {name}
Fater's Name: {f_name}
age: {age}
education: {education}
""" 
print(message)

PIAIC Studenet Card
Name: Muhammad Bilal
Fater's Name: Muhammad Naeem
age: 21
education: Graduate

### F-string and Jinja style

both are used to format the string in python.

In [3]:
# FString Method

f"""
student name {name}
"""

'\nstudent name Muhammad Bilal\n'

In [8]:
# jinja Style
name:str = "Muhammad Bilal"


message:str = """
student name {{name}}
"""
print(message)

student name {{name}}

In [11]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [12]:
[i for i in dir(str)  if "__" not in i ]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

`.format()` method to format String

In [13]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [14]:
name : str = "MUhAMMad QaSiM"

print(name.capitalize())
print(name.lower())

Muhammad qasim
muhammad qasim

In [15]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

Total 22

In [17]:
# .format method

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname, name, education, age)

print(card)

PIAIC Student Card
Student Name : Muhammad Aslam
Father's Name: Muhammad Qasim
Age: Master in Data Science
Education : 30

In [18]:
# we can define index number

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname, name, education, age)
#           0      1       2        3

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [19]:
# we can also define temp name for placeholders

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format(a=name, b=fname, c=age, d=education)


print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

## Recommended below two f-string format

In [20]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [21]:
student_code : str = """
print("My Name is Muhammad Qasim")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code) # exec() function is used to execute program in string.

My Name is Muhammad Qasim
15

## Explore String methods and attributes

### Pre-define global function we have used
- print
- type
- id
- dir
- len

In [22]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

## String Methods (47)

- `capitalize`
- `casefold`
- `center`
- `count`
- `encode`
- `endswith`
- `expandtabs`,
- `find`,
- `format`,
- `format_map`,
- `index`,
- `isalnum`,
- `isalpha`,
- `isascii`,
- `isdecimal`,
- `isdigit`
- `isidentifier`,
- `islower`,
- `isnumeric`,
- `isprintable`,
- `isspace`,
- `istitle`,
- `isupper`,
- `join`,
- `ljust`,
- `lower`
- `lstrip`,
- `maketrans`,
- `partition`,
- `removeprefix`,
- `removesuffix`,
- `replace`,
- `rfind`,
- `rindex`,
- `rjust`,
- `rpartition`
- `rsplit`,
- `rstrip`,
- `split`,
- `splitlines`,
- `startswith`,
- `strip`,
- `swapcase`,
- `title`,
- `translate`,
- `upper`,
- `zfill`

In [27]:
name : str = "muHamMaD BilAL"
print(name.capitalize()) # Capital The First Word

print(name.casefold())  # compare the cases and make all string character according to this.

print(name.title()) # title case -> capital every character after space

print(name.upper()) # all characters are capitalized

print(name.lower()) # all chars in lower case.

Muhammad bilal
muhammad bilal
Muhammad Bilal
MUHAMMAD BILAL
muhammad bilal

In [31]:
# remove White space in string

name : str = """  Muhammad    Bilal          """

display(name)
display(name.lstrip()) # remove white space from left
display(name.rstrip()) # remove white space from right
display(name.strip()) # remove white space from both side.

'  Muhammad    Bilal          '

'Muhammad    Bilal          '

'  Muhammad    Bilal'

'Muhammad    Bilal'

In [39]:
# remove prefix and suffix

url:str  = "https://www.google.com"

print(url)
print(url.removeprefix("https://")) # remove from start
print(url.removesuffix(".com")) # remove from end
print(url.removeprefix("https://www.").removesuffix(".com")) # remove from both side

https://www.google.com
www.google.com
https://www.google
google

In [41]:
list = """

- 'capitalize'
- 'casefold'
- 'center'
- 'count'
- 'encode'
- 'endswith'
- 'expandtabs',
- 'find',
- 'format',
- 'format_map',
- 'index',
- 'isalnum',
- 'isalpha',
- 'isascii',
- 'isdecimal',
- 'isdigit'
- 'isidentifier',
- 'islower',
- 'isnumeric',
- 'isprintable',
- 'isspace',
- 'istitle',
- 'isupper',
- 'join',
- 'ljust',
- 'lower'
- 'lstrip',
- 'maketrans',
- 'partition',
- 'removeprefix',
- 'removesuffix',
- 'replace',
- 'rfind',
- 'rindex',
- 'rjust',
- 'rpartition'
- 'rsplit',
- 'rstrip',
- 'split',
- 'splitlines',
- 'startswith',
- 'strip',
- 'swapcase',
- 'title',
- 'translate',
- 'upper',
- 'zfill'
""".replace('\'','`')
print(list)

- `capitalize`
- `casefold`
- `center`
- `count`
- `encode`
- `endswith`
- `expandtabs`,
- `find`,
- `format`,
- `format_map`,
- `index`,
- `isalnum`,
- `isalpha`,
- `isascii`,
- `isdecimal`,
- `isdigit`
- `isidentifier`,
- `islower`,
- `isnumeric`,
- `isprintable`,
- `isspace`,
- `istitle`,
- `isupper`,
- `join`,
- `ljust`,
- `lower`
- `lstrip`,
- `maketrans`,
- `partition`,
- `removeprefix`,
- `removesuffix`,
- `replace`,
- `rfind`,
- `rindex`,
- `rjust`,
- `rpartition`
- `rsplit`,
- `rstrip`,
- `split`,
- `splitlines`,
- `startswith`,
- `strip`,
- `swapcase`,
- `title`,
- `translate`,
- `upper`,
- `zfill`