# Class 2 : String in Python
In this class, we will be deep dive into the concepts of String and explore its Functions.

In [2]:
message : str = "This is Class 2 in Python"
print(message)

This is Class 2 in Python

# String

The Sequence or collection or set of character enclosed with quotation or double quotation or triple single or double quotation mark

```python

'this is String'
"this is also an string"
"""this is 
multi line 
String"""

```

In [4]:
# To find type of any data we have type function

name : str = "Muhammad Bilal"
print(name) # Muhammad Bilal
print(type(name)) # <class 'str'>

Muhammad Bilal
<class 'str'>

## Single Quotation V/S Double Quotation in String
Where to use single or double quotation 

1. If we want to use sigle quote in our string, we wrap string in double quotes.
2. If we want to use double quotes in our String, we wrap string with single quotes.

In [8]:
# Where to use single or double quotation 

# Single Quotation Example
message : str = "PIAIC Student Card \nFather's name"
print(message)

# Double Quotation Example
message2 : str = 'some one says to me \n"Practice Practice and Practice makes man Perfect"' 
print(message2)

PIAIC Student Card
Father's name
some one says to me
"Practice Practice and Practice makes man Perfect"

In [10]:
# convert any special character into simple character, place \ before character

message : str = "PIAIC Student Card \nFather's name"
print(message)

PIAIC Student Card
Father's name

## String Concatenation 

String Concatenation is a method that is used to merge two or more than two string with the single string.

In [11]:
"a" + "b"+ "c"

'abc'

In [13]:
# if we try to concatenate string with number,

"a"+1 # TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

## Concatenate a Large String

In [15]:
name : str = "Muhammad Bilal"
f_name : str = "Muhammad Naeem"
age: int = 21
education : str = "Graduate"
message : str = "PIAIC Studenet Card \nName: "+ name + "\nFater's Name: "+ f_name +"\nage: "+ age + "\neducation: " + education

TypeError: can only concatenate str (not "int") to str

In [17]:
# convert any data type to string we have a method of str()
"a"+ str(4)

'a4'

In [19]:
name : str = "Muhammad Bilal"
f_name : str = "Muhammad Naeem"
age: int = 21
education : str = "Graduate"
message : str = "PIAIC Studenet Card \nName: "+ name + "\nFater's Name: "+ f_name +"\nage: "+ str(age) + "\neducation: " + education 
print(message)

PIAIC Studenet Card
Name: Muhammad Bilal
Fater's Name: Muhammad Naeem
age: 21
education: Graduate

In [20]:
# we can also execute some equation in Print
print(2 + 3 + 5 )

10

##

## "/" Line Continue

In [21]:
print(2+\
      3+\
        5)

10

In [22]:
name : str = "Muhammad Bilal"
f_name : str = "Muhammad Naeem"
age: int = 21
education : str = "Graduate"
message : str = "PIAIC Studenet Card \nName: " + name +\
      "\nFater's Name: "+ f_name +\
        "\nage: "+ str(age) +\
        "\neducation: " + education 
print(message)

PIAIC Studenet Card
Name: Muhammad Bilal
Fater's Name: Muhammad Naeem
age: 21
education: Graduate

## Defining Multiline String """ """ , ''' '''

Multiline String is used to print multiple line in String 
or we can say that it used for print formatting.

In [24]:
name : str = "Muhammad Bilal"
f_name : str = "Muhammad Naeem"
age: int = 21
education : str = "Graduate"

message : str = """PIAIC Studenet Card 
Name: ... 
Fater's Name: ...
age: ...
education: ...""" 
print(message)

PIAIC Studenet Card
Name: ...
Fater's Name: ...
age: ...
education: ...

## F-String Python